<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="filter" name="VScreen Filter" schema="schema/filter.exsd"/>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.vscreen.business.VScreenManagerFactory"
            id="net.bioclipse.vscreen.business.VScreenManager">
      </scriptContribution>
   </extension>

   <extension
         point="net.bioclipse.vscreen.filter">
      <screeningFilter
            class="net.bioclipse.vscreen.filters.impl.MWFilter"
            id="net.bioclipse.vscreen.filters.MWFilter"
            name="MW">
      </screeningFilter>
      <screeningFilter
            class="net.bioclipse.vscreen.filters.impl.XlogPFilter"
            id="net.bioclipse.vscreen.filters.XlogPFilter"
            name="XlogP">
      </screeningFilter>
      <screeningFilter
            class="net.bioclipse.vscreen.filters.impl.RestrictElementFilter"
            id="net.bioclipse.vscreen.filters.RestrictElementFilter"
            name="restrictElement">
      </screeningFilter>
      <screeningFilter
            class="net.bioclipse.vscreen.filters.impl.RingCountFilter"
            id="net.bioclipse.vscreen.filters.RingCountFilter"
            name="RingCount">
      </screeningFilter>
      <screeningFilter
            class="net.bioclipse.vscreen.filters.impl.RuleOfFiveFilter"
            id="net.bioclipse.vscreen.filters.RuleOfFiveFilter"
            description="Filter out if above a certain number of failures for Lipinsky Rule Of Five"
            name="RuleOfFive">
      </screeningFilter>
      <screeningFilter
            class="net.bioclipse.vscreen.filters.impl.SMARTSFilter"
            id="net.bioclipse.vscreen.filters.SMARTSFilter"
            description="Filter out undesired structures defined by SMARTS"
            name="smarts">
      </screeningFilter>
      <screeningFilter
            class="net.bioclipse.vscreen.filters.impl.TPSAFilter"
            id="net.bioclipse.vscreen.filters.TPSAFilter"
            name="TPSA">
      </screeningFilter>
   </extension>
   
   

</plugin>
